<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center justify-center h-screen space-y-4 font-yuji-syuku">
  <h1 class="text-2xl font-bold">過去問</h1>
  <%= link_to '分野', subject_questions_path, class: "bg-custom-button-3 hover:bg-hover-button-2 text-custom-text btn text-xl" %>
  <%= link_to '年代', year_questions_path, class: "bg-custom-button-3 hover:bg-hover-button-1 text-custom-text btn text-xl" %>
  <%= link_to 'ランダム', random_questions_path, class: "bg-custom-button-3 hover:bg-hover-button-1 text-custom-text btn text-xl" %>
</div>
