<div class="flex flex-col items-center justify-center h-screen space-y-4">
  <h1 class="text-2xl font-bold">過去問</h1>
  <%= link_to '分野', field_questions_path, class: "btn btn-primary" %>
  <%= link_to '年度', year_questions_path, class: "btn btn-primary" %>
  <%= link_to 'ランダム', random_questions_path, class: "btn btn-primary" %>
</div>
