<div class="flex flex-col items-center justify-center h-screen space-y-4">
  <h1 class="text-2xl font-bold">選択された分野: <%= @subject %></h1>
  <% @questions.each do |question| %>
    <div class="question">
      <p><%= question.question_text %></p>
    </div>
  <% end %>
</div>
