<% content_for(:title, t('.title')) %>
<div class="flex flex-col items-center justify-center min-h-screen space-y-4 font-yuji-syuku">
  <h1 class="text-3xl font-bold mb-4">年代選択</h1>
  <div class="w-full max-w-3xl bg-white rounded-lg shadow-lg p-6">
    <p class="text-center text-gray-600 text-lg font-semibold mb-4">どの問題を解きますか。</p>
    <div class="border-t border-gray-300 my-4"></div>

    <div class="flex justify-around mt-8">
      <% @years.each do |year| %>
        <%= link_to year, show_year_questions_path(year: year), class: "btn bg-custom-question-button-blue text-custom-home-text-green hover:bg-custom-question-button-blue-hover text-base" %>
      <% end %>
    </div>
  </div>
</div>
