<% content_for(:title, t('.title')) %>
<div class="terms-container max-w-4xl mx-auto p-6 font-yuji-syuku">
  <h1 class="text-2xl font-bold mb-4">プライバシーポリシー</h1>
  <p class="mb-4">MT*Life（以下、「当方」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、お客様の個人情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。</p>
  
  <ul class="list-disc pl-5 space-y-2">
  <h2 class="text-xl font-semibold mt-6">お客様から取得する情報</h2>
  
  <p class="mb-4">当方は、お客様から以下の情報を取得します。</p>
    <li>氏名(ニックネームやペンネームも含む)</li>
    <li>年齢または生年月日</li>
    <li>性別</li>
    <li>職業、職歴、学歴</li>
    <li>メールアドレス</li>
    <li>写真や動画</li>
    <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
    <li>Cookie(クッキー)を用いて生成された識別情報</li>

    <h2 class="text-xl font-semibold mt-6">お客様の情報を利用する目的</h2>
    <p class="mb-4">当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <li>当方サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の当方サービスの利用履歴を管理するため</li>
      <li>利用料金の決済のため</li>
      <li>当方サービスにおけるお客様の行動履歴を分析し、当方サービスの維持改善に役立てるため</li>
      <li>当方のサービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>当方サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>以上の他、当方サービスの提供、維持、保護及び改善のため</li>
  
  <h2 class="text-xl font-semibold mt-6">安全管理のために講じた措置</h2>
  <p class="mb-4">当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
  
  <h2 class="text-xl font-semibold mt-6">第三者提供</h2>
  <p class="mb-4">当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
  <p class="mb-4">但し、次の場合は除きます。</p>
    <li>個人データの取扱いを外部に委託する場合</li>
    <li>当方や当方サービスが買収された場合</li>
    <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
    <li>その他、法律によって合法的に第三者提供が許されている場合</li>
  
  <h2 class="text-xl font-semibold mt-6">プライバシーポリシーの変更</h2>
  <p class="mb-4">当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
  
  <h2 class="text-xl font-semibold mt-6">お問い合わせ</h2>
  <p class="mb-4">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</p>
  <p class="mb-4">e-mail</p>
  <p class="mb-4">この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
  

  <p>2024年01月30日 制定</p>

  </ul>
</div>
