<div class="container mx-auto px-4">
  <h1 class="font-caveat text-4xl font-bold text-center my-6">MT*Life_Start</h1>
  <p class="font-m-plus-rounded-1c text-center mb-4">サービス概要、使い方</p>
  <div class="bg-gray-200 h-64 mb-6"></div>
  <div class="text-center">
    <button class="font-caveat btn btn-primary">START!</button>
  </div>
</div>
