<% content_for(:title, t('.title')) %>
<div class="container mx-auto mt-8 font-yuji-syuku">
  <h1 class="text-2xl font-bold text-center mb-6">ノート一覧</h1>
  <%= link_to '新しいノートを作成', new_notebook_path, class: 'bg-custom-button-3 hover:bg-hover-button-2 text-custom-text btn text-xl' %>
  <% @notebooks.each do |notebook| %>
    <div class="mb-4">
      <%= link_to notebook.title, notebook_path(notebook), class: "text-lg" %>
    </div>
  <% end %>
</div>