<%= form_with(model: [@notebook], local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :title, "タイトル", class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input input-bordered w-full" %>
    </div>
  </div>
  
  <div class="flex justify-end">
    <%= form.submit "作成", class: "btn btn-primary" %>
  </div>
<% end %>