<%= content_for :title, t('.title') %>
<div class="container mx-auto mt-10">
  <h1 class="text-2xl font-bold text-center mb-6">単語帳演習: <%= @wordbook.collection %></h1>

  <% @words.each do |word| %>
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6 bg-base-100 rounded-lg shadow p-4">
      <div class="flex-grow">
        <div class="font-semibold text-lg mb-2"><%= word.term %></div>
        <div class="word-definition text-gray-600 hidden">
          <%= word.definition %>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-2 mt-4 md:mt-0">
        <button class="show-definition btn btn-primary">意味を表示</button>
        <button class="hide-definition btn btn-error hidden">隠す</button>
      </div>
    </div>
  <% end %>
</div>
