<footer class="font-yuji-syuku bg-custom-header-footer text-custom-color">
  <div class="container mx-auto px-4 py-6">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <%= link_to '利用規約', terms_path, class: 'text-sm px-4 hover:underline' %>
        <%= link_to 'プライバシーポリシー', privacy_path, class: 'text-sm px-4 hover:underline' %>
        <%= link_to 'お問い合わせ', "https://docs.google.com/forms/d/e/1FAIpQLSe271KHCBINBVlcc8-3obl2CO5sM9RTSLOCT--I3luNsj4blQ/viewform?usp=sf_link", class: 'text-sm px-4 hover:underline' %>
      </div>
      <div class="text-sm">
        © 2024 MT*Life
      </div>
    </div>
  </div>
</footer>
