<header class="bg-white shadow">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-6">
      <div class="flex justify-start">
        <a href="/" class="text-xl font-semibold text-gray-700">MTLife</a>
        <% if current_user %>
          <%= image_tag current_user.avatar_url, class: 'rounded-circle mr15', size: '40x40' %>
        <% else %>
          <%= image_tag 'default_avatar.png', class: 'rounded-circle mr15', size: '40x40' %>
          <%= link_to 'Login', login_path, class: 'text-sm font-medium text-gray-700 px-4 hover:text-gray-900' %>
        <% end %>
      </div>
      <div class="flex items-center">
        <a href="/" class="text-sm font-medium text-gray-700 px-4 hover:text-gray-900">Top</a>
        <a href="/" class="text-sm font-medium text-gray-700 px-4 hover:text-gray-900">Bookmark</a>
        <%= link_to 'Profile', profile_path, class: 'text-sm font-medium text-gray-700 px-4 hover:text-gray-900' %> 
      </div>
    </div>
  </div>
</header>

