<div class="note-page bg-custom-page-green text-custom-notebook-text p-6 mx-auto max-h-[5000px] overflow-y-auto shadow-inner focus:shadow-outline" 
     data-notebook-id="<%= @notebook.id %>" 
     data-page-id="<%= page.id %>" 
     contenteditable="true">
  <%= sanitize(page.page_content, tags: %w(p br strong em a img div), attributes: %w(src alt href style class)) %>
</div>
<div class="mt-6">
  <label for="imageUpload" class="cursor-pointer inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
    画像を選択
  </label>
  <input type="file" id="imageUpload" name="image" accept="image/*" class="hidden">
</div>