<div class="notebook-wrapper bg-[#fff8dc] p-20 min-h-screen shadow">
  <%= render 'pages/page_content', page: @page %>
  <button class="add-page-btn" data-notebook-id="<%= @notebook.id %>">新しいページを追加</button>
</div>
